body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

.logo img {
    max-width: 100px; /* Adjust the size as needed */
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

.button button {
    padding: 17px 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.button button:hover {
    background-color: #222427;
}

.section1{
  width: 95%;
  height: 90%;
  background-color: #b291d763;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3%;
}


.main {
    width: 700px;
    height: 700px;
    position: relative;
  }
  .big-circle {
    height: 100%;
    width: 100%;
    position: relative;
    border: 3px solid #6495f2;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
  }
  .icon-block {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
    -webkit-background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
    box-shadow: 0 2px 4px 0 #3e5ada;
    -webkit-box-shadow: 0 2px 4px 0 #3e5ada;
  }
  .icon-block img {
    margin: 0px auto;
    width: 86%;
    animation: Rotate-reverse 20s linear infinite;
    -webkit-animation: Rotate-reverse 20s linear infinite;
  }
  .icon-block:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .icon-block:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
  }
  .icon-block:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
  }
  .icon-block:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  /* circle content */
  .circle {
    animation: circle-rotate 20s linear infinite;
    -webkit-animation: circle-rotate 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: #aea5d9;
  }
  .circle .icon-block img {
    animation: img-rotate 20s linear infinite;
    -webkit-animation: img-rotate 20s linear infinite;
  }
  /* center logo */
  .center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .center-logo img {
    max-width: 1000px;
  }
  
  /* keyframe animation */
  
  @keyframes Rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes Rotate-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @-webkit-keyframes Rotate-reverse {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }
  
  @keyframes circle-rotate {
    from {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(405deg);
    }
  }
  
  @-webkit-keyframes circle-rotate {
    from {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
    }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(405deg);
    }
  }
  
  @keyframes img-rotate {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(-405deg);
    }
  }
  
  @-webkit-keyframes img-rotate {
    from {
      -webkit-transform: rotate(-45deg);
    }
    to {
      -webkit-transform: rotate(-405deg);
    }
  }
  
  h1{
    font-size: 30px;
  }

  #star-1:checked ~ section [for=star-1] svg, #star-2:checked ~ section [for=star-1] svg, #star-2:checked ~ section [for=star-2] svg, #star-3:checked ~ section [for=star-1] svg, #star-3:checked ~ section [for=star-2] svg, #star-3:checked ~ section [for=star-3] svg, #star-4:checked ~ section [for=star-1] svg, #star-4:checked ~ section [for=star-2] svg, #star-4:checked ~ section [for=star-3] svg, #star-4:checked ~ section [for=star-4] svg, #star-5:checked ~ section [for=star-1] svg, #star-5:checked ~ section [for=star-2] svg, #star-5:checked ~ section [for=star-3] svg, #star-5:checked ~ section [for=star-4] svg, #star-5:checked ~ section [for=star-5] svg {
    transform: scale(1);
  }
  
  #star-1:checked ~ section [for=star-1] svg path, #star-2:checked ~ section [for=star-1] svg path, #star-2:checked ~ section [for=star-2] svg path, #star-3:checked ~ section [for=star-1] svg path, #star-3:checked ~ section [for=star-2] svg path, #star-3:checked ~ section [for=star-3] svg path, #star-4:checked ~ section [for=star-1] svg path, #star-4:checked ~ section [for=star-2] svg path, #star-4:checked ~ section [for=star-3] svg path, #star-4:checked ~ section [for=star-4] svg path, #star-5:checked ~ section [for=star-1] svg path, #star-5:checked ~ section [for=star-2] svg path, #star-5:checked ~ section [for=star-3] svg path, #star-5:checked ~ section [for=star-4] svg path, #star-5:checked ~ section [for=star-5] svg path {
    fill: #FFBB00;
    stroke: #cc9600;
  }
  
  label {
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
  }
  label svg {
    width: 100%;
    height: auto;
    fill: #e5ce45;
    stroke: #CCC;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;
  }
  label svg path {
    transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  }
  
  label[for=star-null] {
    display: block;
    margin: 0 auto;
    color: #999;
  }
  input {
    margin-top: 1rem;
  }
  .store{
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .appst{
    width: 267px;
    height: 90px;
    border-radius: 10px;
    background: black;
    color: #fff;
    cursor: pointer;
  }
  
  .section2{
    height: 100vh;
  }
  
  .contentc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
  }
  .cont1{
    font-size: 50px;
  }
  .cont2{
    font-size: 30px;
  }
  .cont3{
    font-size: 30px;
  }

  
.container {
  display: flex;
  overflow-x: auto;
  padding: 8px;
  gap: 2rem;
  margin: 2%;
}
.container::-webkit-scrollbar {
  display: none;
}
.container .item {
  margin: 8px;
  transition: 0.3s all;
}
.container .item:last-of-type {
  margin-right: 8px;
}
.container .item img {
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  filter: contrast(90%);
  transition: 0.3s all;
  width: 300px;
    border-radius: 15px;
}
.container .item img:hover {
  filter: contrast(100%);
}
.container .item:hover {
  transform: rotateZ(5deg);
}


.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  
 
}

.circles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(205, 169, 253, 0.743);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.section3{
  height: 100vh;
  width: 100%;
}

.self{
  background: #a945e524;
    height: 80%;
    width: 95%;
    border-radius: 30px;
    margin-left: 3%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.background{
  height:96%;
  width: 10%;
  position:sticky;
  top:0;
  left:0;
}

.circle0{
  background-color:#fffdff00;
  height:1300px;
  border-radius:50%;
  width: 1300px;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.circle1{
  background-color: #fcefff00;
  height:1000px;
  border-radius:50%;
  width: 1000px;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  animation: pulse3 10s linear infinite;
}

.circle2{
  background-color:#f3cafc;
  height:700px;
  border-radius:50%;
  width: 700px;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  color:white;
  font-size:40px;
  transform: translate(-50%,-50%);
  animation: pulse 4s linear infinite;
}

.circle3{
  background-color:#ee88fd;
  height:500px;
  border-radius:50%;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-size:50px;
  animation: pulse2 3s linear infinite;
}

.star{
  transform: translate(350px,50px);
  opacity:.6;
}

@keyframes pulse{
  0%{width:700px;height:700px;}
  50%{width:750px;height:750px;}
  100%{width:700px;height:700px;}
}

@keyframes pulse2{
  0%{width:500px;height:500px;}
  50%{width:550px;height:550px;}
  100%{width:500px;height:500px;}
}

@keyframes pulse3{
  0%{width:1000px;height:1000px;}
  50%{width:1050px;height:1050px;}
  100%{width:1000px;height:1000px;}
}

.section4{
  height: auto;
  width: 100%;
}


.sliderWrap{
  flex: .6;
  margin-top: 10%;
}
.slider{
  position: relative;
  margin-left: 50px;
} 


.slider_item {
  width: 530px;
  padding: 20px 0 25px 30px;
  border-radius: 10px;
  background-color: #a463ed;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 0;
  box-shadow: 0 4px 9px #f1f1f4;
  left: 0;
  top: 0;
}

.slider_item .card_image{
  max-width: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
  background-color: #ffffff;
}

.slider_item .card_image img{
  width: 53px;
  height: 53px;
  border-radius: 50%;
  object-fit: cover;
}

.slider_item .card_content{
  width: 100%;
  max-width: 374px;
  margin-left: 26px;
  font-family: "Open Sans", sans-serif;
}

.slider_item .card_content .card_title{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 24px;
  margin: 0;
}

.slider_item .card_content .card_description{
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 24px;
  margin: 10px 0 0 0;
} 

.slider_item .card_content .card_city{
  font-size: 11px;
  margin: 10px 0 0 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #696d74;
}

.imageCard{
    flex: .4;
}

.imageCard img{
    width: 80%;
    object-fit: contain;
}
.verslider{
  width: 96%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 2%;
    border-radius: 30px;
}

.vacancy{
  height: auto;
  margin:3%;
  display: flex;
  justify-content: space-between;
}

.cardcont{
  width: 600px;
  height: 350px;
  background-color: #a463ed;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1111;
}

ul{
  font-size: 30px;
    margin: 10%;
}

hr {
  border: none;
  height: 2px; /* Adjust the height as needed */
  background-color: #333; /* Change the color to your preference */
  margin: 20px 0; /* Adjust the margin as needed */
}
.section6{
  height: auto;
}
.footer{
text-align: center;
}

.app-footer{
  margin: 0;
    padding-bottom: 2%;
    font-size: 25px;

}
.contact{
  display: flex;
    justify-content: center;
    gap: 6rem;
    font-size: 18px;
    margin: 1%;
}
.loc{
  display: flex;
    align-items: center;
    gap: 1rem;
}
.mal{
  display: flex;
    align-items: center;
    gap: 1rem;
}
.cardcont:hover{
  box-shadow: 10px 10px 5px #cfade6;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .big-circle {
    height: 500px;
    width: 500px;
  }
  .circle {
    top: 36%;
    left: 36%;
    width: 400px;
    height: 400px;
  }
  .center-logo {
    top: 31%;
    left: 40%;
}
.center-logo img {
  max-width: 360px;
}
.resp{
  font-size: 50px !important;
}
.vacancy{
  gap: 5rem;
}
.section3{
  margin-top: 20%;
}
}